# Core Web Framework
fastapi>=0.103.0

# ASGI Server for running FastAPI
uvicorn[standard]>=0.23.2

# JWT Authentication
PyJWT>=2.8.0

# Database ORM (Supabase/PostgreSQL)
prisma>=0.11.0

#Password Hashing & Security
bcrypt==3.2.2
passlib[bcrypt]>=1.7.4
#Form Data Parsing (Required for OAuth2 Login)
python-multipart>=0.0.9

aiohttp
slowapi
requests